label {
    display: none;
    padding-bottom: 0.3em;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

label#none {
    display: inline-block;
}

label input {
    visibility: hidden;
    position: absolute;
}

label img {
    display: block;
    max-height: 100px;
}

label input + div {
    cursor: pointer;
    border: 6px solid transparent;
    max-height: 130px;
    max-width: 80px;
    overflow: none;
}

label input:checked + div {
    border: #080 solid 6px;
}